// 結果ページスタイル
.result-head {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  #result-txt {
    display: inline-block;
    width: 90px;
    height: auto;
    text-align: center;
    margin-top: 10px;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid yellow;
    background-color: rgba(230, 230, 250, .6);
  }
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  user-select: none;
  #img-wrapper {
    display: block;
    margin: 15% auto;
  }
}

.hidden {
  display: none;
}

.rotate {
  animation: rotate_anime 2s;
  @keyframes rotate_anime {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }
}

.result-block {
  margin: 20px auto;
  width: 100%;
  height: auto;
  text-align: center;
  .cp_arrows_txt, #result-block_spot, #result-block_color {
    font-weight: bold;
  }
}

.result-btn-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  #once-again-draw_btn {
    position: relative;
    display: inline-block;
    padding: 0.1em 0.3em;
    text-decoration: none;
    color: #9C27B0;
    font-size: 35px;
    &:after, &:before {
      position: absolute;
      content: '';
      border-radius: 3px;
    }
    &:after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(156,39,176 ,.4);
      transition: all 0.3s ease;
    }
    &:before {
      top: -4px;
      bottom: -5px;
      left: -4px;
      right: -5px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 1px solid #9C27B0;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover:after {
      background: rgba(156,39,176 ,.2);
    }
    &:hover:before {
      top: 2px;
      left: 2px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      opacity: 1;
    }
  }
  p {
    font-size: 35px;
    margin: 8px 10px;
  }
  .top-pg_btn {
    position: relative;
    display: inline-block;
    padding: 0.1em 0.3em;
    text-decoration: none;
    color: #9C27B0;
    font-size: 35px;
    &:after, &:before {
      position: absolute;
      content: '';
      border-radius: 3px;
    }
    &:after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(156,39,176 ,.4);
      transition: all 0.3s ease;
    }
    &:before {
      top: -4px;
      bottom: -5px;
      left: -4px;
      right: -5px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 1px solid #9C27B0;
      opacity: 0;
      transition: all 0.3s;
    }
    &:hover:after {
      background: rgba(156,39,176 ,.2);
    }
    &:hover:before {
      top: 2px;
      left: 2px;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      opacity: 1;
    }
  }
}

.cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cp_arrows {
	position: relative;
	display: flex;
	margin: 0 auto;
	justify-content: center;
  align-items: center;
  padding: 0 0 5px 0;
}
.cp_arrows .cp_arrow {
	position: absolute;
	top: calc(50% - 25px);
	left: 50%;
	width: 40px;
	height: 40px;
}
.cp_arrows .cp_arrow::before,
.cp_arrows .cp_arrow::after {
	position: absolute;
	display: block;
	width: 3px;
	height: 30px;
	content: '';
	-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	-webkit-transform: translate(-50%, -50%) rotateZ(-60deg);
  transform: translate(-50%, -50%) rotateZ(-60deg);
	transform-origin: bottom right;
	border-radius: 10px;
	background: #12a3a8;
}
.cp_arrows .cp_arrow::after {
	-webkit-transform: translate(-50%, -50%) rotateZ(60deg);
  transform: translate(-50%, -50%) rotateZ(60deg);
	-webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
.cp_arrows .cp_bounce {
	-webkit-animation: arrow-move09 2s infinite ease-in-out;
  animation: arrow-move09 2s infinite ease-in-out;
}
@-webkit-keyframes arrow-move09 {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
    transform: translateY(0);
	}
	48% {
		-webkit-transform: translateY(-5px);
    transform: translateY(-5px);
	}
	60% {
		-webkit-transform: translateY(-15px);
    transform: translateY(-15px);
	}
}
@keyframes arrow-move09 {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
    transform: translateY(0);
	}
	48% {
		-webkit-transform: translateY(-5px);
    transform: translateY(-5px);
	}
	60% {
		-webkit-transform: translateY(-15px);
    transform: translateY(-15px);
	}
}



@media screen and (min-width: 768px) {
  .result-head {
    margin-top: 50px;
  }
  .group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .item {
      margin: 0 30px;
    }
  }
  .cp_arrows_txt {
    font-size: 30px;
    margin: 25px auto;
    padding: 15px 0;
  }
  #result-block_spot, #result-block_color {
    font-size: 30px;
  }
  .result-btn-wrapper {
    margin-top: 70px;
  }
}



@media screen and (max-width: 767px) {
  .result-head {
    font-size: 25px;
    margin-top: 40px;
    #result-txt {
      font-size: 30px;
    }
  }
  .cp_arrows_txt {
    font-size: 18px;
    margin: 20px auto 25px;
    padding: 15px 0;
  }
  #result-block_spot, #result-block_color {
    font-size: 18px;
    padding:  0;
  }
  .result-btn-wrapper {
    display: block;
    #once-again-draw_btn {
      font-size: 20px;
    }
    p {
      font-size: 16px;
      margin: 0 0 2px 0;
    }
    .top-pg_btn {
      font-size: 20px;
    }
  }
}
